.news-block-six .inner-box .image-box .image .overlay-box .overlay-inner .content h2{
    font-size: 20px !important;
}
.main-slider-three .owl-nav .owl-prev, .main-slider-three .owl-nav .owl-next{
    line-height: 19px !important;
    font-size: 19px !important;
    width:24px !important;
    height:24px !important;
    margin-top: -20px !important;
}

.main-slider-two .owl-dots .owl-dot span, .main-slider-three .owl-dots .owl-dot span, .main-slider-four .owl-dots .owl-dot span{
    width:8px !important;
    height:8px !important;
}

.main-header .nav-toggler{
    top:-36px !important;
}

.main-header .header-lower {
    border-bottom: 1px solid #f5f4f4;
}